.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: "center";
}

#prof-display{
    display: block;

    width: 400px;
    margin: 10px auto;
    border-radius: 33%;
}

#uname-style{
    font-size: 40px;
    font-weight: bold;
}